<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">

    <title>Preguntas & respuestas</title>
</head>
<body>

    <div class="contenedor">
        <div class="contenedor-preguntas">
            <div id="pregunta">Acá va la pregunta</div>
            <div id="botones-respuesta" class="boton-grid">
                <button class="boton correct"> Respuesta 1</button>
                <button class="boton wrong"> Respuesta 2</button>
                <button class="boton"> Respuesta 3</button>
                <button class="boton"> Respuesta 4</button>
            
            </div>
        </div>
     <div class="controles">
        <button>Comenzar</button>
        <button>Siguiente</button>
     </div>
    </div>
    
</body>
</html>